<div>
    <h2>E-CommerceNestJS password reset</h2>
    <div>
        <p>We heard that you lost your E-CommerceNestJS password. Sorry about that!</p>
        <p>But don’t worry! You can use the following button to reset your password:</p>
    </div>
    <button><a href="http://localhost:3000/user/forgot_password/{{token}}">Reset your password</a></button>
    <div>
        <p>If you don’t use this link within 5hours, it will expire. To get a new password reset link, visit: http://localhost:3000/user/forgot_password/</p>
        <p>Thanks, E-CommerceNestJS</p>
    </div>
</div>